<br>
<!-- <div class="row" *ngFor = "let porcentaje of listaPorcentajes"> -->
    <!-- <div class="row">
    <div >
        <div class="progress">
            <div [class]="getValueProgressBar().color" role="progressbar" [style]="getValueProgressBar().value" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                {{ getValueProgressBar().number }}
            </div>
        </div>
    </div>   
</div> -->





    <!-- <div class="row">
        <div  *ngFor = "let usuario of listaUsuarios" class="col-md-4">
            <app-card [user]="usuario"></app-card>
            <app-mat-progress-bar mode="determinate" value="40"></app-mat-progress-bar>
            <img [src]="urlImg" alt="" width="50" height="50">
        </div> -->


    