<app-navbar></app-navbar>
<div class="d-flex justify-content-center buscar-oficina mt-5">
  Buscar oficina
</div>
<div class="container mt-5">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <form class="example-form d-flex justify-content-center" >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Departamento</mat-label>
            <input type="text"
                   placeholder="Selecciona departamento"
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='getSelectedDepartment($event.option.value)'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.buscador_ubigeo">
                {{option.nombre_ubigeo}}
              </mat-option>
             
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select disableRipple (selectionChange)="getSelectedProvince($event.value)">
            <mat-option [value]="item" *ngFor="let item of arrayProvince[0]">{{item.nombre_ubigeo}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <mat-form-field appearance="fill" >
          <mat-label>Distrito</mat-label>
          <mat-select disableRipple (selectionChange)="getSelectedDistrict($event.value)">
            <mat-option [value]="item" *ngFor="let item of arrayDistrict[0]">{{item.nombre_ubigeo}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="data.length">
  <app-table-info-detail [data]= "this.data"></app-table-info-detail>
</div>

<div class="container mt-5 mb-5 d-flex justify-content-center" *ngIf="!data.length">
  <div class="no-info">No hay oficinas en el distrito seleccionado</div>
</div>

