<table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Oficina </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="aforo_max">
      <th mat-header-cell *matHeaderCellDef> Capacidad </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container> -->

    <ng-container matColumnDef="aforo_max">
      <th mat-header-cell *matHeaderCellDef> Capacidad </th>
      <td mat-cell *matCellDef="let element"> <app-load-bar [value] = "element.office.aforo_max"></app-load-bar> </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="district_id">
      <th mat-header-cell *matHeaderCellDef> Detalle </th>
      <td mat-cell *matCellDef="let element"> {{element.district_id}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  