.div-aforo {
  height: 294px;
  width: 100%;
  font-size: 36px;
  font-family: "Benton Sans";
}

.circle-oficina {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: lightblue;
}

.titulo-oficina {
  font-size: 20px;
}

.mas-oficinas {
  font-size: 30px;
}